*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
   text-align: center;
   margin:0.5rem;
}

nav{
    border:2px solid black;
    border-radius: 2rem;
    margin:0 auto 2rem;
    max-width: 450px;
    font-size:2rem;
    line-height:6rem;
}

h1{
    padding:1rem;
    background-color: rgb(221, 221, 23);
    border-radius: 2rem 2rem 0rem 0rem;
}

ul li{
    border-top: 1px solid black;
    list-style-type: none;
}

li a{
    text-decoration: none;
    color:Black;
}

ul li a:visited{
    color:purple;
}

li a{
    display: block;
}

ul li a:hover,a:focus{
    color:whitesmoke;
    background-color: rgb(22, 20, 20);
}

ul li:last-child a{
       border-radius: 0rem 0rem 2rem 2rem;
}